/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ROW */

.content {
    width: 60%;
    height: 300px;
    margin: auto;
}

.product {
    position: relative;
    display: inline-block;
    width: calc(100% / 3);
}

.product img {
    width: 100%;
    padding: 20px 5px 5px 5px;
}

.product-row2 img {
    padding: 70px 5px 5px 5px;
}

.image-hiden {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product:hover .image-hiden{
    display: block;
}

/* PRODUCT INFO  */

.heart {
    position: absolute;
    bottom: 470px;
    right: 0px;
    font-size: 30px;
    background-color: white;
    padding: 5px 25px;
    border-radius: 10px 0 0 10px;
}

.product:hover .heart{
    color: red;
}

.product-info, .product-text {
    position: absolute;
    bottom: 25px;
    left: 15px;
}

.product-info .discount{
    color: white;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
}

.img-text {
    display: inline-block;
    color: white;
    background-color: green;
    padding: 3px 5px;
    border-radius: 5px;
}

/* PRODUCT DETAILS */

.details{
    position: absolute;
    left: 5px;
}

.small{
    font-size: 13px;
}

.price{
    color: red;
    font-weight: bold;
}